<%- include('head'); %>
  <body>
    <%- include('header'); %>
    <div class="container">
      <div class="container-header">
        <h1>掲示板</h1>
        <p>ようこそ、<%= locals.name %>さん</p>
        <a href="/login">ログイン</a>
        <a href="/logout">ログアウト</a>
        <a href="/post" class="new-button">投稿する</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>買うもの</span>
        </div>
        <ul class="table-body">
          <% posts.forEach((post) => { %>
            <li>
              <div class="item-data">
                <p></p><%= post.name %></p>
                <p><%= post.content %></p>
                <p><%= post.datetime %></p>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>