<%- include('head'); %>
<body>
    <%- include('header'); %>
    <div class="container">
        <h1>アカウント設定</h1>
        <% if (errors && errors.length > 0) { %>
            <div class="form-text text-danger">
                <% errors.forEach(function(error) { %>
                    <p><%= error %></p>
                <% }); %>
            </div>
        <% } %>
        <img src="public/profimages/<%= acount[0].profImage %>" class="h-auto img-fluid" style="width: 100px">
        <form action="/profeditor" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label for="formFile" class="form-label col-sm-2 col-form-label">プロフィール画像</label>
                <div class="col-sm-10">
                    <input type="file" name="image" class="form-control" id="formFile">
                    <input type="hidden" name="defaultImage" value="<%= acount[0].profImage %>">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">ユーザーID</label>
                <div class="col-sm-10">
                    <input type="text" name="userId" class="form-control" value="<%= acount[0].userId %>" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">ユーザーネーム</label>
                <div class="col-sm-10">
                    <input type="text" name="displayName" class="form-control" value="<%= acount[0].displayName %>" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">メールアドレス</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="<%= acount[0].email %>" aria-describedby="emailHelp" disabled>
                    <input type="hidden" name="email" value="<%= acount[0].email %>">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">パスワード</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">パスワードの確認</label>
                <div class="col-sm-10">
                    <input type="password" name="password2" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label name="content" class="form-label">自己紹介</label>
                <div class="col-sm-10">
                    <textarea name="introduction" class="form-control" rows="3"><%= editData %></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">変更を保存</button>
            <a href="/profile" class="btn btn-secondary"">プロフィールに戻る</a>
        </form>
    </div>
<%- include('footer'); %>